*, *::after, *::before{
    box-sizing: border-box;
}

.spinner{
    width: 300px !important;
    height: 300px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    overflow: hidden;
    position: absolute;
    display: none;
}

.spinner-sector{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 15px solid transparent;
    mix-blend-mode: overlay;
    animation: rotate var(--duration) var(--timing) infinite;
}

.spinner-sector-red{
    border-top-color: lightcoral;
    --duration:1.5s;
    --timing:ease-in-out;
}

.spinner-sector-blue{
    border-left-color: lightblue;
    --duration:2s;
    --timing:ease-in;
}

.spinner-sector-green{
    border-right-color: lightgreen;
    --duration:2.5s;
    --timing:ease-out;
}

@keyframes rotate{
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(360deg);
    }
}