@charset "ISO-8859-1";

.body-signin{
	background-color: #2e2729;
    background-image: url('../../images/todo-bg-720.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-blend-mode: overlay;
}
.row-main{
	padding-top: 6%;
	color: beige
}

.middle-span{
	background-color: #242323;
	border-radius: 4%;
}

.signup-form{
	padding: 1em;
	font-style: italic;
	font-weight: 500;
}

.signup-header{
	text-align: center;
}

.row-label{
	margin-top: 0.8em;
    padding-left: 1em;
}
.signup-label{
	padding: 2px;
	/* width: auto; */
	margin-top:3px; 
}

.signup-input{
	width: 90%;
}

.btn-signup{
	padding: 0.7em;
    border-radius: 5px;
    background-color: #4481dd;
    border-style: initial;
    color: beige;
    font-style: italic;
    font-weight: 500;
    width: 90%;
	transition: all 0.6s;
        
}
.btn-signup:hover{
	background-color: #0f2f60;
}
.row-btn{
	margin-top: 0.8em;
	margin-top: 1em;
    padding-left: 1em;
}

.password-eye-icon{
	position: absolute;
    right: 55px;
    color: #0d6efd;
    font-size: 20px;
    top: 10px;
    cursor: pointer;
}

.relative-div-zero-padding{
	position: relative;
	padding: 0;
}

.login-back-arrow{
	font-size: 20px;
    right: 11%;
    color: #ebc705;
    top: 10px;
    cursor: pointer;
}